
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

header p {
    float: right;
    font-size: 25px;
}

.card {
  border-radius: 5px;
  border-width: 1px;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 100px 40px;
}

.card-body {
  min-height: 100px;

}

.card-body p {
    max-width: 75%;
    text-align: center;
    margin:auto;
}

.card-footer {
  text-align: center;
}


.btn {
  border: none;
  background-color: royalblue;
  border-radius: 25px;
  
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

.card-header h2 {
    text-align: center;
}



@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
